#nome {
	position: absolute;
	left: 111px;
	top: 105px;
	width: 644px;
}
#nome2 {
	position: absolute;
	left: 111px;
	top: 127px;
	width: 406px;
}
#nome3 {
	position: absolute;
	left: 112px;
	top: 150px;
	width: 209px;
}
#nome4 {	position: absolute;
	left: 559px;
	top: 127px;
	width: 196px;
}
#nome5 {
	position: absolute;
	left: 357px;
	top: 149px;
	width: 127px;
}
#nome6 {
	position: absolute;
	left: 533px;
	top: 150px;
	width: 223px;
}
#nome7 {
	position: absolute;
	left: 124px;
	top: 172px;
	width: 152px;
}
#nome8 {
	position: absolute;
	left: 312px;
	top: 172px;
	width: 205px;
}
#nome9 {
	position: absolute;
	left: 566px;
	top: 173px;
	width: 191px;
}
#nome10 {
	position: absolute;
	left: 112px;
	top: 195px;
	width: 643px;
}
#nome11 {
	position: absolute;
	left: 144px;
	top: 219px;
	width: 372px;
}
#nome12 {
	position: absolute;
	left: 560px;
	top: 219px;
	width: 196px;
}
#nome13 {
	position: absolute;
	left: 80px;
	top: 241px;
	width: 196px;
}
#nome14 {
	position: absolute;
	left: 304px;
	top: 240px;
	width: 212px;
}
#nome15 {
	position: absolute;
	left: 560px;
	top: 241px;
	width: 196px;
}
#nome16 {
	position: absolute;
	left: 479px;
	top: 468px;
	width: 12px;
}
#nome17 {
	position: absolute;
	left: 676px;
	top: 353px;
	width: 74px;
}
#nome18 {
	position: absolute;
	left: 676px;
	top: 375px;
	width: 74px;
}
#nome19 {
	position: absolute;
	left: 676px;
	top: 398px;
	width: 74px;
}
#nome20 {
	position: absolute;
	left: 678px;
	top: 422px;
	width: 72px;
}
#nome21 {
	position: absolute;
	left: 116px;
	top: 331px;
	width: 324px;
}
#nome22 {	position: absolute;
	left: 116px;
	top: 331px;
	width: 324px;
}
#nome23 {
	position: absolute;
	left: 116px;
	top: 353px;
	width: 324px;
}
#nome24 {
	position: absolute;
	left: 116px;
	top: 376px;
	width: 324px;
}
#nome25 {
	position: absolute;
	left: 116px;
	top: 399px;
	width: 324px;
}
#nome26 {
	position: absolute;
	left: 116px;
	top: 421px;
	width: 324px;
}
#nome27 {
	position: absolute;
	left: 442px;
	top: 331px;
	width: 219px;
}
#nome28 {
	position: absolute;
	left: 442px;
	top: 355px;
	width: 219px;
}
#nome29 {
	position: absolute;
	left: 443px;
	top: 377px;
	width: 219px;
}
#nome30 {
	position: absolute;
	left: 442px;
	top: 400px;
	width: 219px;
}
#nome31 {
	position: absolute;
	left: 440px;
	top: 421px;
	width: 219px;
}
#nome32 {
	position: absolute;
	left: 677px;
	top: 331px;
	width: 72px;
}
#nome33 {
	position: absolute;
	left: 41px;
	top: 332px;
	width: 72px;
}
#nome34 {
	position: absolute;
	left: 42px;
	top: 376px;
	width: 72px;
}
#nome35 {
	position: absolute;
	left: 41px;
	top: 399px;
	width: 72px;
}
#nome36 {
	position: absolute;
	left: 41px;
	top: 421px;
	width: 72px;
}
#nome37 {
	position: absolute;
	left: 44px;
	top: 521px;
	width: 703px;
	height: 82px;
}
#nome38 {
	position: absolute;
	left: 324px;
	top: 468px;
	width: 12px;
}
#nome39 {
	position: absolute;
	left: 395px;
	top: 467px;
	width: 14px;
}
#nome40 {
	position: absolute;
	left: 254px;
	top: 468px;
	width: 12px;
}
#nome41 {	position: absolute;
	left: 324px;
	top: 468px;
	width: 12px;
}
#nome42 {	position: absolute;
	left: 324px;
	top: 468px;
	width: 12px;
}
#nome43 {	position: absolute;
	left: 324px;
	top: 468px;
	width: 12px;
}
#nome44 {
	position: absolute;
	left: 631px;
	top: 467px;
	width: 118px;
}
#nome45 {
	position: absolute;
	left: 41px;
	top: 354px;
	width: 72px;
}
#nome46 {	position: absolute;
	left: 41px;
	top: 354px;
	width: 72px;
}
#nome47 {
	position: absolute;
	left: 390px;
	top: 496px;
	width: 20px;
}
#nome48 {
	position: absolute;
	left: 93px;
	top: 496px;
	width: 20px;
	height: 20px;
}
#nome49 {	position: absolute;
	left: 254px;
	top: 468px;
	width: 12px;
}
#nome50 {
	position: absolute;
	left: 215px;
	top: 497px;
	width: 21px;
}
#nome51 {	position: absolute;
	left: 93px;
	top: 496px;
	width: 20px;
	height: 20px;
}
#nome52 {
	position: absolute;
	left: 538px;
	top: 496px;
	width: 22px;
}
#nome53 {position: absolute;
	left: 41px;
	top: 331px;
	width: 72px;
}
#nome54 {position: absolute;
	left: 41px;
	top: 331px;
	width: 72px;
}